
.recipe-links{
    background-color: teal;
    padding:25px;
    text-align: left;
    color: black;
}

.recipe-links div{
    padding: 30px;
    font-size: 24px;
    color: black;
}


.chefimg{
   /* Use "linear-gradient" to add a darken background effect to make it easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/chef.jpg");

   /* Set a specific height */
   height: 617px;

   /* Position and center the image to scale nicely on all screens */
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

/* Place text in the middle of chefimg */
.chef-text {
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.card-chicken{
    /* Add shadow to create the "card effect" */
    box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* Helps make whole card clickable */
    position:relative;
}

.card-churro{
    /* Add shadow to create the "card effect" */
    box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
     /* Helps make whole card clickable */
    position:relative;
}

.card-ziti{
    /* Add shadow to create the "card effect" */
    box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
     /* Helps make whole card clickable */
    position:relative;
}

/* On mouse-over, add a deeper shadow */
.card-chicken:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-churro:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-ziti:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* 
Add some padding inside the card container */
.container-chicken{
    padding: 2px 16px;
}

.container-churro{
    padding: 2px 16px;
}

.container-ziti{
    padding: 2px 16px;
}

/* Remove bullets from ul */

ul{
    list-style-type: none;
}

img {
    width:100%;
    height:auto;
}

/* Make the entire card a link */

.card-chicken a::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.card-churro a::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.card-ziti a::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}