h1 {
    background-color: green;
    padding: 10px;
    text-align: center;
}

.recipe-links{
    background-color: teal;
    padding:25px;
    text-align: left;
    color: black;
}

.recipe-links div{
    padding: 30px;
    font-size: 24px;
    color: black;
}


.chefimg{
    display:flex;
    justify-content:center;
    margin: -22px 0 -17px 0;
    height: 500px;
    background-image:url("images/chef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
    box-sizing: border-box;
}


